/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: rgba(37, 110, 255, 1);
    --vp-c-brand-light: rgb(134, 170, 243);
    --vp-c-brand-dark:rgba(219, 124, 38, 1);
    --vp-c-brand-darker:rgb(153, 124, 97);
  }
  